<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="circlebinder"
    >

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:name="circlebinder.creation.BaseApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:windowSoftInputMode="stateHidden"
        android:theme="@style/AppTheme" >

        <meta-data android:name="AA_DB_NAME" android:value="Creation.db" />
        <meta-data android:name="AA_DB_VERSION" android:value="4" />

        <activity
            android:name="circlebinder.creation.app.phone.HomeActivity"
            android:label="@string/app_name"
            android:configChanges="orientation|screenSize"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="circlebinder.creation.app.phone.CircleSearchActivity"
            android:label="@string/circlebinder_search_circle"
            android:configChanges="orientation|screenSize"
            />

        <activity
            android:name="circlebinder.creation.app.phone.ChecklistActivity"
            android:label=""
            android:configChanges="orientation|screenSize"
            />
        
        <activity
            android:name="circlebinder.creation.app.phone.AboutActivity"
            android:label="@string/circlebinder_navigation_about"
            android:configChanges="orientation|screenSize"
            />

        <activity
            android:name="circlebinder.creation.app.phone.ChangeLogActivity"
            android:label="@string/circlebinder_navigation_change_log"
            android:configChanges="orientation|screenSize"
            />

        <activity
            android:name="circlebinder.creation.app.phone.CircleDetailPagerActivity"
            android:label="@string/app_name"
            android:configChanges="orientation|screenSize"
            />

        <activity
            android:name="circlebinder.creation.app.phone.WebViewActivity"
            android:label="@string/app_name"
            android:configChanges="orientation|screenSize"
            />

        <activity
            android:name="circlebinder.creation.app.phone.ContactActivity"
            android:label="@string/app_name"
            android:configChanges="orientation|screenSize"
            />

        <activity
            android:name="circlebinder.creation.app.phone.DatabaseInitializeActivity"
            android:label="@string/app_name"
            android:configChanges="orientation|screenSize"
            />

        <service
            android:name="circlebinder.creation.initialize.DatabaseInitializeService"
            android:process=":service"
            android:exported="false"
            android:permission=""
            >
            <intent-filter>
                <action android:name="circlebinder.creation.initialize.IInitializeBindService"/>
            </intent-filter>
        </service>

    </application>

</manifest>
