<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    >

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:name="circlebinder.creation.app.CreationBinderApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:windowSoftInputMode="stateHidden"
        android:theme="@style/AppTheme"
        tools:replace="android:label"
        >

        <meta-data android:name="AA_DB_NAME" android:value="Creation.db" />
        <meta-data android:name="AA_DB_VERSION" android:value="12" />

        <activity
            android:name="circlebinder.creation.app.phone.LauncherActivity"
            android:theme="@android:style/Theme.NoDisplay"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="circlebinder.creation.app.phone.HomeActivity"
            android:label="@string/app_event_name"
            android:configChanges="orientation|screenSize"
            />

        <activity
            android:name="circlebinder.creation.app.phone.CircleSearchActivity"
            android:label="@string/common_circle_search"
            android:configChanges="orientation|screenSize"
            />

        <activity
            android:name="circlebinder.creation.app.phone.ChecklistActivity"
            android:label="@string/app_label_empty"
            android:configChanges="orientation|screenSize"
            />
        
        <activity
            android:name="circlebinder.creation.app.phone.AboutActivity"
            android:label="@string/common_about"
            android:configChanges="orientation|screenSize"
            />

        <activity
            android:name="circlebinder.creation.app.phone.ChangeLogActivity"
            android:label="@string/common_change_log"
            android:configChanges="orientation|screenSize"
            />

        <activity
            android:name="circlebinder.creation.app.phone.CircleDetailActivity"
            android:label="@string/app_label_empty"
            android:configChanges="orientation|screenSize"
            />

        <activity
            android:name="circlebinder.creation.app.phone.WebViewActivity"
            android:label="@string/app_event_name"
            android:configChanges="orientation|screenSize"
            />

        <activity
            android:name="circlebinder.creation.app.phone.EnjoyCreationActivity"
            android:label="@string/app_enjoy_creation_label"
            />

        <activity
            android:name="circlebinder.creation.app.phone.ContactActivity"
            android:label="@string/common_send_feedback_wish_me_luck"
            android:configChanges="orientation|screenSize"
            />

        <activity
            android:name="circlebinder.creation.app.phone.DatabaseInitializeActivity"
            android:label="@string/app_name"
            android:configChanges="orientation|screenSize"
            />

        <service
            android:name="circlebinder.creation.initialize.DatabaseInitializeService"
            android:process=":service"
            android:exported="false"
            android:permission=""
            >
            <intent-filter>
                <action android:name="circlebinder.creation.initialize.IInitializeBindService"/>
            </intent-filter>
        </service>

    </application>

</manifest>
