<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    >

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:name="circlebinder.common.app.CircleBinderApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:windowSoftInputMode="stateHidden"
        android:theme="@style/AppTheme"
        tools:replace="android:label"
        >

        <activity
            android:name="circlebinder.creation.app.phone.LauncherActivity"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="circlebinder.creation.app.phone.HomeActivity"
            android:label="@string/app_event_name"
            />

        <activity
            android:name="circlebinder.creation.app.phone.DatabaseInitializeActivity"
            android:label="@string/app_name"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppNoActionBarTheme"
            />

        <service
            android:name="circlebinder.creation.initialize.DatabaseInitializeService"
            android:process=":service"
            android:exported="false"
            android:permission=""
            >
            <intent-filter>
                <action android:name="circlebinder.creation.initialize.IInitializeBindService"/>
            </intent-filter>
        </service>

    </application>

</manifest>
