[submodule "gradle/gradle-android-utils"]
	path = gradle/gradle-android-utils
	url = git@github.com:gfx/gradle-android-utils.git
[submodule "vendor/activeandroid"]
	path = vendor/activeandroid
	url = git@github.com:pardom/ActiveAndroid.git
[submodule "vendor/Common"]
	path = vendor/Common
	url = git@github.com:CircleBinder/Android-CommonLibrary.git
[submodule "vendor/LisenceCreditView"]
	path = vendor/LisenceCreditView
	url = git@github.com:KeithYokoma/LicenseCreditView.git
