appName=Comic1Binder

deployGateUserName=__your_value__
deployGateToken=__your_value__

crashReporterKey=__your_value__
storeFile=__your_value__
storeAlias=__your_value__
storePassword=your_value__
keyPassword=__your_value__

org.gradle.parallel=true
org.gradle.parallel.threads=8
