<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="circlebinder"
    >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/common_app_name"
        >

        <meta-data android:name="AA_DB_NAME" android:value="Creation.db" />
        <meta-data android:name="AA_DB_VERSION" android:value="12" />

        <activity
            android:name="circlebinder.common.app.phone.CircleSearchActivity"
            android:label="@string/common_circle_search"
            android:configChanges="orientation|screenSize"
            />

        <activity
            android:name="circlebinder.common.app.phone.ChecklistActivity"
            android:label="@string/app_label_empty"
            android:configChanges="orientation|screenSize"
            />

        <activity
            android:name=".common.app.phone.AboutApplicationActivity"
            android:label="@string/common_about"
            android:configChanges="orientation|screenSize"
            />

        <activity
            android:name="circlebinder.common.app.phone.CircleDetailActivity"
            android:label="@string/app_label_empty"
            android:configChanges="orientation|screenSize"
            />

        <activity
            android:name="circlebinder.common.app.phone.WebViewActivity"
            android:label="@string/app_event_name"
            android:configChanges="orientation|screenSize"
            />

        <activity
            android:name="circlebinder.common.app.phone.ContactActivity"
            android:label="@string/common_send_feedback"
            android:configChanges="orientation|screenSize"
            />

    </application>

</manifest>
